apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  # Database credentials
  db.user: "placeholder"
  db.password: "placeholder"

  # API keys and other secrets
  api.key: "placeholder"
